@keyframes stow-bottom {
    from { transform: translate(0, 0); }
    to { transform: translate(0, 100%); }
}

.hide {
    transform: translate(0, 100%);
}

.animate {
    animation-name: stow-bottom;
    animation-duration: 0.5s;
}



.animate.show {
    animation-direction: reverse;
}

#rune-keyboard {
    width:100vw;
    position: absolute;
    left:0;
    bottom:0;
    padding-bottom: 20px;

}

.keyboard-main {
    display: flex;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}

.rune-input {
    position: relative;
    width: 180px;
    height: 250px;
}

.rune-input > * {
    position: absolute;
    top: 0px;
    left: 0px;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */
}

.rune-input > .visual {
    transform: translate(-50%, calc(-50% + 12px));
    aspect-ratio: 0.70710678118;
    touch-action: none;
}

.rune-input > .input-capturer {
    background-color: rgb(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
}

.keyboard-main .space-bar {
    width: 100%;
    height: 30px;
    margin-top: 35px;
}

.right-bar {
    width: 50px;
    margin-right: 35px;
}

.keyboard-main .side-bar {
    display: flex;
    flex-direction: column;
    width: 50px;
    margin-left: 35px;
}

#rune-keyboard button {
    height: 50px;
}

#rune-keyboard .side-bar .enter-button {
    flex-grow: 1;
}

.toggle-keyboard-button {
    position: absolute;
    left: 0px;
    width: 70px;
    height: 30px;
    transform: translateY(-100%);
}